<div align="center">
<h1>Table Tennis Kombat</h1>
<h2>Leader Board</h2> 

<div style="float: left;">
Choose Player
</div>

<div style="float: right;">
Choose Player
</div>

<div style="width: 900px">
<% @players.sort_by { |player| player.name }.each do |player| %>
  <div class="player">
  <img style="width: 96px; height: 96px;" src="<%= player.avatar %>" alt="<%= player.name %> avatar" />
  <br />
  <%= player.name %>
  </div>
<% end %> 
</div>

<br />
<form method="post" action="/game">
<input type="text" id="player_one_id" />
<input type="text" id="player_two_id" />
<input type="submit" value="ok" />
</form>
</div>
