body {
  background-color: #000000;
  color: red;
  
  font-size: 13px;
  line-height: 18px;
}

table
{
text-align:center;
}


td
{
border-top: 2px solid red;
border-bottom: 2px solid red;
margin:0px;
padding:0px;
}

input
{
background-color: #2F2130;
border: 0px;
color:white;
}

#submitButton
{
background-color:red;
color:black
}

.playerHolder
{
	background-color:green;
   width:25px;
	height:25px;
}


p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: orange;
  text-decoration:none;
  font-size: 25px;
}


