body {
  background-color: #000000;
  background-image:url('http://i35.photobucket.com/albums/d159/JohnnyCage221/Sprite%20Tutorial/SpriteBackground.png');
  background-repeat:no-repeat;
background-position:0px 0px;
background-size:cover;
background-attachment:fixed;
  color: red;
  font-size: 13px;
  line-height: 18px;
}

table
{
text-align:center;
}

th
{
font-decoration:underline;
}

.leader-img img
{
width:75px;
height:75px;
}

input
{
background-color: #2F2130;
border: 0px;
color:white;
}

#versus
{
	position:absolute;
	font-weight:bold;
	font-size: 100px;
	float: center;
	left:375px;
	top: 100px;
}

#player_one_score
{
height:160px;
width:200px;
text-align:center;
color:white;
font-size:120px;
background-color:grey;
}

#player_two_score
{
height:160px;
width:200px;
text-align:center;
color:white;
font-size:120px;
background-color:grey;	
}

#game_player1_img
{
	width:256px;
	height:256px;
	position:absolute;
	left:70px;
}

#game_player2_img
{
	width:256px;
	height:256px;
	position:absolute;
	left:585px;
}

#game_player1_text
{
	position:absolute;
	font-size:30px;
	left:165px;
	top:300px;
}

#game_player2_text
{
	position:absolute;
	font-size:30px;
	top:300px;
	left:670px;
}

#scorecard1
{
	position:absolute;
	top:375px;
	left:100px;
}

#scorecard2
{
	position:absolute;
	top:375px;
	left:620px;
}

.clickableSelect
{
  width:80px;
  height:80px;
  padding: 0px;
  margin: 0px 15px;
}

#submitButton
{
background-color:red;
color:black;
height:3em;
width:20em;
border:2px solid black;
}

.Home-Buttons
{
width:20em;
height:3em;
color:red;
}

#endGameButton
{
width:20em;
height:3em;
color:red;
position:relative;
top:400px;
}

.Select-Buttons
{
width:20em;
height:3em;
color:red;
}

.leaderboard-player1
{
background-color:black;
opacity:0.8;
font-weight:bold;
font-size:15px;
.spacer
{
opacity:0.0;
}
}

.leaderboard-player-1
{
background-color:grey;
opacity:0.8;
font-weight:bold;
font-size:15px;
.spacer
{
opacity:0.0;
}
}

.leader-img
{
width:100px;
}

.leader-name
{
width:120px;
padding:0px;
}

.leader-wins
{
width:100px;
}

.leader-games
{
width:100px;
}

.spacer
{
width:400px;
opacity:0.2;
}

.playerHolder
{
	background-color:green;
   width:25px;
	height:25px;
}

#playerOneSelect
{
background-color:blue;
opacity:0.6;
float:left;
width:200px;
height:270px;
color:white;
}

 #playerTwoSelect
{
background-color:red;
opacity:0.6;
float:right;
width:200px;
height:270px;
color:white;
}

#playerOneSelectImg, #playerTwoSelectImg
{

width:200px;
height:200px;
top:500px;
}

#playerOneSelectText, #playerTwoSelectText
{
font-weight: bold;
line-height:110%;
font-size:25px;
}


#choosePlayers
{
//background-color:grey;
color:white;
font-weight:bold;
}

#charcterSpace
{
	width:100px;
   height:100px;
	position:relative;
	left:300px;
	top:100px;
}

.spaceNew
{
position:relative;
left:0px;
top: 50px;
float:left;
//background-color:grey;
//opacity:0.5;
width: 330px;
}

.spaceNew input
{
 width:200px;
}

.spaceNew label
{
color:white;
font-weight:bold;
}

a {
  color: orange;
  text-decoration:none;
  font-size: 25px;
}


